## .NET Core / Backend
/backend/**/bin/
/backend/**/obj/
/backend/**/out/
/backend/**/logs/
/backend/*.user
/backend/*.userprefs
/backend/*.suo
/backend/*.swp
/backend/*ReSharper*
/backend/*TestResults
/backend/.vs/
/backend/.vscode/
/backend/*.idea/
/backend/*.cache
/backend/*.csproj.user
/backend/*.dbmdl
/backend/*.jfm
/backend/log/
/backend/logs/

## React / Frontend (Vite)
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/*.local
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.cache/
/frontend/coverage/

# Logs
/frontend/logs/
*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

## Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## General
Thumbs.db
desktop.ini
